* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    /* background-image: linear-gradient(315deg, #537895 0%, #09203f 74%); */
    background: url(../assets/images/stars.jpg) no-repeat center fixed;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    gap: 1rem;
}

.btn-container {
    display: flex;
    gap: 1rem;
}

.btn {
    width: fit-content;
    padding: 1rem;
    color: white;
    background-color: green;
    border-radius: 5px;
}

.btn:hover {
    cursor: pointer;
}

.wrapper {
    background-color: rgba(1,1,1,0.7);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    align-items: center;
    height: fit-content;
    gap: 1rem;
    width: 100%;
    max-width: 1000px;
    border-radius: 10px;
    padding: 2vh 2vw;
    border: 7px solid rgba(242,208,34,0.9);
}

.flip-card {
    position: relative;
    color: rgb(27, 27, 27);
    width: 100%;
    perspective: 1000px;
    font-size: 12px;
    aspect-ratio: 2/3;
}

.flip-card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;

    background: linear-gradient(white, white) padding-box,
        linear-gradient(135deg, rgb(79, 79, 250), rgb(255, 51, 51)) border-box;
    border-radius: 15px;
    border: 4px solid transparent;
    /* box-shadow: inset 0 0 50px red, inset 20px 0 80px red, inset -20px 0 80px blue,
    inset 20px 0 300px red, inset -20px 0 300px blue, 0 0 50px darkslategray,
    -10px 0 80px red, 10px 0 80px blue; */
}

.card-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.name-container {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.name {
    color: white;
    background-color: rgb(24, 30, 30);
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.isFlipped {
    transform: rotateY(180deg);
}

.fixed {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: black;
}

.flip-card-front {
    color: black;
    background: dodgerblue;
}

.flip-card-back {
    transform: rotateY(180deg);
    background: red;
}