/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Poller+One&family=Sanchez&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}




button {
    width: fit-content;
    padding: 0.6rem;
    color: #210D32;
    border-radius: 5px;
    font-family: 'Arvo', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    background: linear-gradient(315deg, #e1ad38, #F2D022);
    font-weight: bold;
}

body {
    /* background-image: linear-gradient(315deg, #537895 0%, #09203f 74%); */
    /* background: url(/static/assets/stars.jpg) no-repeat center fixed; */
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.background img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

h1 {
    font-family: 'Poller One', sans-serif;
    font-size: 40px;
    color: #eeeeee;
    text-align: center;
    text-transform: uppercase;
}

.ending {
    font-size: 24px;
}

h2 {
    font-family: 'Arvo', sans-serif;
    color: #eeeeee;
    text-align: center;
}

p,
li {
    font-family: 'Sanchez', sans-serif;
    color: #eeeeee;
    text-align: center;
}

li {
    text-align: left;
}

.btn-container {
    display: flex;
    gap: 1rem;
}

.play,
.nav-btn {
    text-decoration: none;
}

.btn,
.play,
.nav-btn {
    width: fit-content;
    padding: 0.6rem;
    color: #210D32;
    border-radius: 5px;
    font-family: 'Arvo', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    background: linear-gradient(315deg, #e1ad38, #F2D022);
    font-weight: bold;
}

.btn:hover,
.play:hover,
.nav-btn:hover {
    cursor: pointer;
    box-shadow: 0 0.5rem 1.4rem 0 #eeba1d;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.wrapper,
.container {
    display: flex;
    /* added this line */
    background-color: rgba(1, 1, 1, 0.7);
    justify-content: center;
    align-items: center;
    height: fit-content;
    gap: 1rem;
    width: 100%;
    border-radius: 10px;
    padding: 2vh 2vw;
    border: 7px solid rgba(242, 208, 34, 0.9);
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    max-width: 1000px;
}

.hidden {
    display: none;
}

.flip-card {
    position: relative;
    color: rgb(27, 27, 27);
    width: 20vh;
    perspective: 1000px;
    font-size: 12px;
    aspect-ratio: 2/3;
    height: 20vh;
}

.flip-card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;

    background: linear-gradient(white, white) padding-box,
        linear-gradient(135deg, rgb(79, 79, 250), rgb(255, 51, 51)) border-box;
    border-radius: 15px;
    border: 4px solid transparent;
    /* box-shadow: inset 0 0 50px red, inset 20px 0 80px red, inset -20px 0 80px blue,
    inset 20px 0 300px red, inset -20px 0 300px blue, 0 0 50px darkslategray,
    -10px 0 80px red, 10px 0 80px blue; */
}

.card-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.name-container {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.name {
    color: white;
    background-color: rgb(24, 30, 30);
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    font-size: large;
    font-family: 'Sanchez', Geneva, Tahoma, sans-serif;
    text-align: center;
}

.isFlipped {
    transform: rotateY(180deg);
}

.fixed {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: black;
}

.flip-card-front {
    color: black;
    background: dodgerblue;
}

.flip-card-back {
    transform: rotateY(180deg);
    background: red;
}


/* Media Queries */
@media screen and (max-width: 434px) {
    .name-container {
        padding: 0.3rem;
    }

    .name {
        padding: 0.25rem;
        font-size: 13px;
    }



    /* LOGIN IN STYLING */


    .sign-in-headline {
        font-size: xx-large;

    }

    .login,
    .signup {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: whitesmoke;
        border: 5px solid goldenrod;
        padding: 2rem;
        color: black;
        gap: 1rem;
        border-radius: 10px;
        box-shadow: 0 0 50px 15px gold;
    }

    .login p,
    .signup p {
        color: black;
        font-family: 'Arvo', sans-serif;

    }

    .login input,
    .signup input {
        padding: .5rem;
        border-radius: 10px
    }