#score-container {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  background-color: whitesmoke;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: black;
  border: 5px solid #e4b434;
  display: none;

}

.inner-container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  gap: .5rem;
}

.points-image {
  font-size: 2rem;
  fill: white;
  color: white;
  height: 50px;
}

.leaderboard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  background: #e4b434;
  padding: 1rem;
  border: 3px solid white;
  border-radius: 10px;
}


.score {
  font-size: 1.4rem;
  color: black;
  text-transform: uppercase;

}

#wrapper {
  display: none;
  /* Initially hide the wrapper */
}

#wrapper.visible {
  display: flex;
  flex-wrap: wrap;
  /* Show the wrapper when the 'visible' class is added */
}