{% load static %}
<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>{% block title %}Default Title{% endblock %}</title>

</head>
<body>
    <nav>
        <a href="{% url 'homepage' %}" class="nav-btn">HomePage</a>
        <a href="{% url 'game' %}" class="nav-btn">GameView</a>
        <a class="nav-link nav-btn" href="{% url 'account_login' %}">Login</a>
        <a class="nav-link nav-btn" href="{% url 'account_signup' %}">Sign Up</a>
      </nav>

    {% block page_header %}
    {% endblock %}
    
    <div id="container" class="container">
        {% block content %}
        {% endblock %}
    </div>


    {% block corejs %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}
</body>

</html>