{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/game.css' %}">
{% endblock %}

{% block title %}Sample Card{% endblock %}
{% block content %}


<a href="{% url 'homepage' %}" class="nav-btn">HomePage</a>
<a href="{% url 'leaderboard' %}" class="nav-btn">Leaderboard</a>


<div class="btn-container">
  <button id="easy" class="btn">Easy</button>
  <button id="medium" class="btn">Medium</button>
  <button id="hard" class="btn">Hard</button>
  <button id="test">Test Mode</button>
</div>

<div id="score-container" class="text-white">
  <div class="inner-container">
    <img class="points-image" src="/static/assets/images/clock-svgrepo-com.svg" />
    <span id="totalTime">0</span>
  </div>
  <div class="inner-container">
    <img class="points-image" src="/static/assets/images/hand-point-svgrepo-com.svg" />
    <span id="totalClicks">0</span>
  </div>
</div>

<div id="wrapper" class="wrapper"></div>



<form id="endGameForm" method="post" action="{% url 'save_score' %}">
  {% csrf_token %}
  <input type="hidden" id="timeSpent" name="timeSpent">
  <input type="hidden" id="moves" name="moves">
  <input type="hidden" id="gameMode" name="gameMode">
  <input type="hidden" id="score" name="score">
  <button type="submit" style="display:none">Submit</button>
</form>

{% endblock %}
{% block postloadjs %}
<script src="{% static 'data/cardData.json' %}"></script>
<script src="{% static 'js/game.js' %}" type="module"></script>
{% endblock %}