{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/game.css' %}">
{% endblock %}


{% block title %}Sample Card{% endblock %}
{% block content %}
<a href="{% url 'homepage' %}" class="nav-btn">HomePage</a>
<a href="{% url 'game' %}" class="nav-btn">Play</a>


<div class="leaderboard">
    {% for score in top_scores %}
    <p class="score">{{ score.user.username }}: {{ score.total_score }}</p>
    {% endfor %}
</div>

{% empty %}
<p>No scores yet!</p>
{% endfor %}


{% endblock %}